.header{
  background-color: #c4c4c4;
  position: sticky;
  width: 100%;
  margin: auto;
  padding: 20px 0 20px 0;
  text-align: center;
  font-size: 40px;
  font-weight: 1000;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.header:hover{
  cursor: pointer;
}

main{
  padding: 5px ;
}
footer{
  position: fixed;
  left: 0;
  bottom: 0;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
   color: rgb(0, 0, 0);
   padding: 10px;
   text-align: center;
   background-color: #d1d1d1;
}
.mainLayout{
  display: flex;
  width: 100%;
 

}

.colLeft{
  height: 100%;
  width: 20%;
}
.colRight{
  padding: 10px;
  width: 80%;
}

.table-page{
  overflow-x: auto;
}
.table-page h2, h4{
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}
.table-page table{
  margin: auto;
  width: 100%;
}
.table-page table,th,tr,td{
  border: 1px solid #ddd;
  border-collapse: collapse;
}
th, td{
  text-align: center;
  padding: 10px;
  text-transform: capitalize;
}
table a{
  color: rgb(3, 165, 206);
}

.table-page img{
  width: 70px;
  height: 100px;
  object-fit: cover;
  display: inline;
}

.formBody{
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: inline-block;

}
.formBody, input, button{
  padding: 10px;
}